body{
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: flex-start;
    background: url("https://images.unsplash.com/photo-1610534440162-e0e68fbdeca3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80");
    background-size: cover;
    color: aliceblue;
}
h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 20px;
    text-align: center;
}
.clock{
    display: flex;
}
.clock div{
    margin: 5px;
    position: relative;
}
.clock span{
    width: 100px;
    height: 80px;
    background: border-box;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.clock .text{
    height: 30px;
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: aliceblue solid 1px;
}
#hour, #minute, #second{
    border: solid aliceblue 1px;
    border-radius: 10px 10px 0 0;
}
#ampm{
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 60px;
    font-size: 20px;
    border: solid aliceblue 1px;
    border-radius: 50%;
}